body {
  font-family: sans-serif;
}

input,button {
  border: none;
  outline: none;
}

.App {
  max-width: 1600px;
  background-color: rgb(196, 210, 210);
  border-radius: 7px;
  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 60px
}

.search {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.search input {
  width: 200px;
  height: 50px;
  font-size: 24px;
  padding: 25px 20px;
  border: 1px solid rgb(123, 75, 75);
  border-radius: 9px;
  width: 70%;
}

.search h2 {
  color:rgb(138, 134, 129)
}

.grid {

  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 15px;
  row-gap: 10px;
  margin-top: 15px;

}

.grid .country {
  background-color: rgb(97, 101, 104);
  color: rgb(135, 186, 195);
  
}

.countries {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.country {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(127, 145, 162);
  padding: 10px;
  border-radius: 7px;
  color: rgb(46, 55, 190);
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  width: 45px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(164, 169, 170);
  border-radius: 5px;
  color: rgb(105, 116, 203);
}

.active {
  background-color: red;
}